<!DOCTYPE html>
<html>
  <%- include('./partials/header.ejs')%>
  <body>
    <%- include('./partials/homeButton.ejs') %>
    <div class="productDetailRoot">
      <div class="productDetailContainer">
        <h1 class="productDetailHeader"><%- item.name.toUpperCase() %></h1>
        <p>DESCRIPTION: <%- item.description %></p>
        <p>CATEGORY: <%- item.category %></p>
        <p>PRICE: <%- item.price %>ยง</p>
        <p>QTY: <%- item.numInStock %></p>
      </div>
    </div>
  </body>
</html>
