<!DOCTYPE html>
<html>
  <%- include('./partials/header.ejs')%>
  <body>
    <div class="productListRoot">
      <h1 class="productListHeader"><%- title %></h1>
      <div class="productListContainer">
        <% for (const product of allProducts) { %>
          <a class="productListItem" href=<%- product.url %>>
            <h2><%- product.name %></h2>
            <div class="productListItemPriceAndQtyContainer">
              <p><%- product.price %>ยง</p>
              <p>QTY: <%- product.numInStock %></p>
            </div>
          </a>
        <% } %>
      </div>
    </div>
  </body>
</html>
