<!DOCTYPE html>
<html>
  <%- include('./partials/header.ejs')%>
  <body>
    <h1>ALL PRODUCTS</h1>
    <% for (const product of allProducts) { %>
      <div class="productListItem">
        <a href=<%- product.url %>><h2><%- product.name %></h2></a>
        <div class="productListItemPriceAndQtyContainer">
          <p><%- product.price %>ยง</p>
          <p>QTY: <%- product.numInStock %></p>
        </div>
      </div>
    <% } %>
  </body>
</html>
